body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.d-flex {
  display: flex;
}
.j-center {
  justify-content: center;
}
.a-center {
  align-items: center;
}
.j-space-between {
  justify-content: space-between;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
button {
  border: none;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.p-absolute {
  position: absolute;
}
.p-relative {
  position: relative;
}
.m-0auto {
  margin: 0 auto;
}
.d-block {
  display: block;
}
input {
  width: 350px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 10px;
  font-family: "Lato", sans-serif;
}
textarea {
  resize: none;
  width: 350px;
  height: 150px;
  border-radius: 7px;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
}
.w-20 {
  width: 350px;
}
.w-10 {
  max-width: 170px;
  width: 100%;
}
.w-40 {
  max-width: 350px;
  width: 100% !important;
}
